<div ui-view="search">
	<div ng-show="!searchQuery">
		<div class="imageContainerSmall">
			<video class='flexible' autoplay="autoplay" muted="muted" preload="auto" loop="loop"><source src="https://s3-us-west-2.amazonaws.com/voetr/washington.mp4" type="video/mp4"></video>
			<div class="imageContainerSmallDiv container">  
				<h1 style="text-align:left">discover</h1>
			</div>
		</div>
		<div class="container">
			<div class="spacing-5"></div>
	        <md-card>
				<md-card-title>
					<input style="width:100%" ng-keyup="keyPress(searchValue)" ng-model="searchValue">
				</md-card-title>
			</md-card>
          	<div class="spacing-25"></div>
 			<uib-tabset active="1">
 			    <uib-tab index="1" heading="Trending">
					<md-card ng-repeat="vote in votes">
				        <div style="padding:16px 16px 16px">
							<h4><a href="/vote/{{vote.id}}">{{vote.title}}</a></h4>
							<div class="spacing-10"></div>
							<a href="/bill/{{vote.bill.id}}/{{vote.bill.title}}">{{vote.bill.title}}</a>
							<div class="spacing-10"></div>
							<button ng-class="{'upVoted': class=='upVote'}" class="btn btn-default upVote col-sm-6" ng-click="createVote(1, vote)">
								<i class="fa fa-caret-up vBlue"></i> <b>{{vote.plusCount}}</b>
							</button>
							<button ng-class="{'downVoted': class=='downVote'}" class="btn btn-default downVote col-sm-6" ng-click="createVote(-1, vote)">
								<i class="fa fa-caret-down red-color"></i>  <b>{{vote.minusCount}}</b>
							</button>
						</div>
					</md-card>
    			</uib-tab>
				<uib-tab heading="Results" ng-show="searchResults">
					<div class='md-padding'>
			            <md-card ng-repeat="searchResult in searchResults">
			              <md-card-title>
			                <md-card-title-text>
								<a href="{{searchResult.urlTitle}}">{{searchResult}}</a>
							</md-card-title-text>
			              </md-card-title>
			            </md-card>
			        </div>
    			</uib-tab>
				<uib-tab heading="Bills">
			    	<md-card ng-repeat="bill in bills">
						<div class="card-container">
			            	<h4><a href="/bill/{{bill._id}}/{{bill.title.replace(' ','-')}}">{{bill.title}}</a></h4>
							<div class="spacing-10"></div>
			            	<button ng-class="{'upVoted': vote.class=='upVote'}" class="btn btn-default upVote col-sm-6" ng-click="createVote(1, vote)"><i class="fa fa-caret-up"></i>  {{vote.plusCount}}</button>
				            <button ng-class="{'downVoted': vote.class=='downVote'}" class="btn btn-default downVote col-sm-6" ng-click="createVote(-1, vote)"><i class="fa fa-caret-down"></i>  {{vote.minusCount}}</button>
				        </div>
			        </md-card>
    			</uib-tab>
				<uib-tab heading="Committees">
					<md-card ng-repeat="committee in committees">
				        <div class="card-container">
				            <h3><a href="/committee/{{committee.urlTitle}}">{{committee.title}}</a></h3>
				            <p><span style="color:grey">{{committee.memberCount}} members</span></p>
				        </div>
				    </md-card>
    			</uib-tab>
				<uib-tab heading="{{userCount}} Members">
					<button ng-show="!gettingRepresentatives" ng-click="getLatLng()" class="btn btn-default">find representatives</button><br><br>
			        <i ng-show="gettingRepresentatives" style="font-size:48px" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
					<div class="col-lg-4 col-sm-6" ng-repeat="user in officialRepresentatives">
						<div class="member-card">
							<div class="image" style="background-image: url('{{user.coverUrl}}')">
								<img ng-src="{{user.avatarUrl}}" err-src="/images/avatar.png">
							</div>
							<div class="info">
								<h4 class="name"><a href="member/{{user.username}}">{{user.username}}</a></h4>
								<h5 class="position"><a href="member/{{user.username}}">{{user.title}}</a></h5>
								<p>{{user.state}}</p>
							</div>
							<div class="social">
								<a ng-show="user.socialAccounts.facebook.profileUrl" href="{{user.socialAccounts.facebook.profileUrl}}"  target="_blank"><i class="fa fa-facebook facebook-icon"></i></a>
								<a ng-show="user.socialAccounts.twitter.profileUrl" href="{{user.socialAccounts.twitter.profileUrl}}"  target="_blank"><i class="fa fa-twitter twitter-icon"></i></a>
								<a ng-show="user.socialAccounts.google.profileUrl" href="{{user.socialAccounts.google.profileUrl}}"  target="_blank"><i class="fa fa-google google-icon"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6" ng-repeat="user in users">
						<div class="member-card">
							<div class="image" style="background-image: url('{{user.coverUrl}}')">
								<img ng-src="{{user.avatarUrl}}" err-src="/images/avatar.png">
							</div>
							<div class="info">
								<h4 class="name"><a href="member/{{user.username}}">{{user.username}}</a></h4>
								<h5 class="position"><a href="member/{{user.username}}">{{user.title}}</a></h5>
								<p>{{user.state}}</p>
							</div>
							<div class="social">
								<a ng-show="user.socialAccounts.facebook.profileUrl" href="{{user.socialAccounts.facebook.profileUrl}}"  target="_blank"><i class="fa fa-facebook facebook-icon"></i></a>
								<a ng-show="user.socialAccounts.twitter.profileUrl" href="{{user.socialAccounts.twitter.profileUrl}}"  target="_blank"><i class="fa fa-twitter twitter-icon"></i></a>
								<a ng-show="user.socialAccounts.google.profileUrl" href="{{user.socialAccounts.google.profileUrl}}"  target="_blank"><i class="fa fa-google google-icon"></i></a>
							</div>
						</div>
					</div>
    			</uib-tab>
    			<uib-tab heading="Votes">
					<md-card ng-repeat="vote in votes">
				        <div style="padding:16px 16px 16px">
							<h4><a href="/vote/{{vote.id}}">{{vote.title}}</a></h4>
							<div class="spacing-10"></div>
							<a href="/bill/{{vote.bill.id}}/{{vote.bill.title}}">{{vote.bill.title}}</a>
							<div class="spacing-10"></div>
							<button ng-class="{'upVoted': class=='upVote'}" class="btn btn-default upVote col-sm-6" ng-click="createVote(1, vote)">
								<i class="fa fa-caret-up vBlue"></i> <b>{{vote.plusCount}}</b>
							</button>
							<button ng-class="{'downVoted': class=='downVote'}" class="btn btn-default downVote col-sm-6" ng-click="createVote(-1, vote)">
								<i class="fa fa-caret-down red-color"></i>  <b>{{vote.minusCount}}</b>
							</button>
						</div>
					</md-card>
    			</uib-tab>
			</uib-tabset>
	    </div>
	</div>
	<div ng-show="searchQuery">
		<div class="imageContainerSmall">
			<video class='flexible' autoplay="autoplay" muted="muted" preload="auto" loop="loop"><source src="https://s3-us-west-2.amazonaws.com/voetr/washington.mp4" type="video/mp4"></video>
			<div class="imageContainerSmallDiv container">  
				<h1 style="text-align:left">{{searchQuery}}</h1>
			</div>
		</div>
		<div class="container">
			<uib-tabset>
				<uib-tab heading="Top">
    			</uib-tab>
 			    <uib-tab heading="Bills">
    			</uib-tab>
				<uib-tab heading="Committees">
    			</uib-tab>
				<uib-tab heading="Discussion">
    			</uib-tab>
				<uib-tab heading="Members">
    			</uib-tab>
    			<uib-tab heading="Votes">
    			</uib-tab>
			</uib-tabset>
			<div class="spacing-15"></div>
			<div ng-repeat="searchResult in searchResults">
				<div class="col-lg-4 col-sm-6" ng-show="searchResult.username">
					<div class="member-card">
						<div class="image" style="background-image: url('{{searchResult.coverUrl}}')">
							<img ng-src="{{searchResult.avatarUrl}}" err-src="/images/avatar.png">
						</div>
						<div class="info">
							<h4 class="name"><a href="member/{{searchResult.username}}">{{searchResult.username}}</a></h4>
							<h5 class="position"><a href="member/{{searchResult.username}}">{{searchResult.title}}</a></h5>
							<p>{{searchResult.state}}</p>
						</div>
						<div class="social">
							<a ng-show="searchResult.socialAccounts.facebook.profileUrl" href="{{searchResult.socialAccounts.facebook.profileUrl}}"  target="_blank"><i class="fa fa-facebook facebook-icon"></i></a>
							<a ng-show="searchResult.socialAccounts.twitter.profileUrl" href="{{searchResult.socialAccounts.twitter.profileUrl}}"  target="_blank"><i class="fa fa-twitter twitter-icon"></i></a>
							<a ng-show="searchResult.socialAccounts.google.profileUrl" href="{{searchResult.socialAccounts.google.profileUrl}}"  target="_blank"><i class="fa fa-google google-icon"></i></a>
						</div>
					</div>
				</div>
				<md-card ng-show="searchResult.billContent">
					<md-card-title>
						<md-card-title-text>
							<h4><a href="/bill/{{searchResult.id}}/{{searchResult.title}}">{{searchResult.title}}</a></h4>
						</md-card-title-text>
					</md-card-title>
				</md-card>
				<md-card ng-show="!searchResult.billContent && !searchResult.username">
					<md-card-title>
						<md-card-title-text>
							<h4><a href="/committee/{{searchResult.urlTitle}}">{{searchResult.title}}</a></h4>
						</md-card-title-text>
					</md-card-title>
				</md-card>
			</div>
		</div>
	</div>
	<div class="spacing-15"></div>
	<md-divider></md-divider>
	<div class="spacing-25"></div>
	<div ng-click="loadMore()" class="container" style="text-align:center">
	    <button style="width:100%" class="btn btn-default">MORE <i class="fa fa-angle-down"></i></button>
	</div>
	<div class="spacing-25"></div>
	<div ng-include="'footer/index.tpl.html'"></div>
</div>
