<div ui-view="vote">
	<div class="voteContainer container">
		<h3>
			{{vote.voteCount}} ({{vote.plusCount-vote.minusCount}}) - 
			<!--<button class="btn btn-default" ng-click="createVote(1)"><i class="fa fa-caret-up"></i> {{vote.plusCount}}</button>
        	<button class="btn btn-default" ng-click="createVote(-1)"><i class="fa fa-caret-down"></i> {{vote.minusCount}}</button>-->
			{{vote.title}}
		</h3>
		<h4><a href="bill/{{vote.bill.id}}/{{vote.bill.urlTitle}}">{{vote.bill.title}}</a></h4>
		<!--<h3>{{vote.otherCount}}</h3>-->
		<md-divider></md-divider>
		<div class="row">
			<button class="col-xs-6 btn btn-default" ng-click="createVote(1)"><i class="fa fa-caret-up"></i> {{vote.plusCount}}</button>
        	<button class="col-xs-6 btn btn-default" ng-click="createVote(-1)"><i class="fa fa-caret-down"></i> {{vote.minusCount}}</button>
    	</div>
    	<br>
		<!--UI/UX - break out into YES / NO - show representative votes -->
		<uib-tabset>
			<uib-tab heading="Activity" active="active">
		    </uib-tab>
			<uib-tab heading="Discussion">
				<div class="profilePost">
					<form role="form">
						<md-input-container class="md-block">
							<textarea ng-model="newPost.post" md-maxlength="150" rows="5" md-select-on-focus aria-label="new post"></textarea>
						</md-input-container>
						<button ng-click="createPost()" type="submit" class="btn btn-default">Submit</button>
					</form>
		        </div>
		        <md-card ng-repeat="post in posts">
					<md-card-title>
					<md-card-title-text>
						<a href="member/{{post.user.username}}">
							<img style="max-width:64px" ng-src="{{post.user.avatarUrl}}" class="md-card-image" alt="{{post.user.username}}">
							<p>{{post.user.username}}</p>
						</a>
						<p>{{post.post}}</p>
					</md-card-title-text>
					</md-card-title>
		        </md-card>
		    </uib-tab>
			<uib-tab heading="{{vote.plusCount}}  Yes" active="active">
				<div class="col-lg-4 col-sm-6" ng-repeat="vote in yesVotes">
					<div style="margin:10px; box-shadow: 2px 2px 10px #999;">
						<div class="image" style="background-image: url('{{vote.user.coverUrl}}')">
							<img alt="" style="position:absolute;left:0;right0;margin:0 auto;margin-top:4em" class="avatar" src="{{vote.user.avatarUrl}}" err-src="/images/avatar.png">
						</div>
						<div class="info">
							<h2 class="name"><a href="member/{{vote.user.username}}">{{vote.user.username}}</a></h2>
							<h3 class="position"><a href="member/{{vote.user.username}}">{{vote.user.title}}</a></h3>
							<p>Yes</p>
						</div>
						<div class="social">
							<a ng-show="vote.user.socialAccounts.facebook.profileUrl" href="{{vote.user.socialAccounts.facebook.profileUrl}}"  target="_blank"><i class="fa fa-facebook"></i></a>
							<a ng-show="vote.user.socialAccounts.twitter.profileUrl" href="{{vote.user.socialAccounts.twitter.profileUrl}}"  target="_blank"><i class="fa fa-twitter"></i></a>
							<a ng-show="vote.user.socialAccounts.google.profileUrl" href="{{vote.user.socialAccounts.google.profileUrl}}"  target="_blank"><i class="fa fa-google"></i></a>
						</div>
					</div>
				</div>
		    </uib-tab>
		    <uib-tab heading="{{vote.minusCount}}  No">
				<div class="col-lg-4 col-sm-6" ng-repeat="vote in noVotes">
					<div style="margin:10px; box-shadow: 2px 2px 10px #999;">
						<div class="image" style="background-image: url('{{vote.user.coverUrl}}')">
							<img alt="" style="position:absolute;left:0;right0;margin:0 auto;margin-top:4em" class="avatar" src="{{vote.user.avatarUrl}}" err-src="/images/avatar.png">
						</div>
						<div class="info">
							<h2 class="name"><a href="member/{{vote.user.username}}">{{vote.user.username}}</a></h2>
							<h3 class="position"><a href="member/{{vote.user.username}}">{{vote.user.title}}</a></h3>
							<p>No</p>
						</div>
						<div class="social">
							<a ng-show="vote.user.socialAccounts.facebook.profileUrl" href="{{vote.user.socialAccounts.facebook.profileUrl}}"  target="_blank"><i class="fa fa-facebook"></i></a>
							<a ng-show="vote.user.socialAccounts.twitter.profileUrl" href="{{vote.user.socialAccounts.twitter.profileUrl}}"  target="_blank"><i class="fa fa-twitter"></i></a>
							<a ng-show="vote.user.socialAccounts.google.profileUrl" href="{{vote.user.socialAccounts.google.profileUrl}}"  target="_blank"><i class="fa fa-google"></i></a>
						</div>
					</div>
				</div>
		    </uib-tab>
		</uib-tabset>
	<div>
</div>