<style>
	.voteContainer{padding:50px;}
</style>
<div ui-view="vote">

	<div class="voteContainer">
		<h3>{{vote.voteCount}} - {{vote.title}}</h3>
		<h3>{{vote.plusCount}} - {{vote.minusCount}}</h3>
		<!--<h3>{{vote.otherCount}}</h3>-->
		<button class="btn btn-default" ng-click="createVote(1)"><i class="fa fa-caret-up"></i></button>
        <button class="btn btn-default" ng-click="createVote(-1)"><i class="fa fa-caret-down"></i></button>
		<h5><a href="bill/{{vote.bill.id}}/{{vote.bill.urlTitle}}">{{vote.bill.title}}</a></h5>
		<md-divider></md-divider>
		<br><br>
		<div class="voteVoteContainer">

			<md-card class="voteVote" ng-repeat="vote in votes">
				<md-card-title>
					<md-card-title-text>
						<a href="/member/{{vote.user.username}}">
							<!--<img src="{{vote.user.avatarUrl}}" style="height:64px;">-->
							{{vote.user.username}}
						</a>
						<h4>{{vote.voteString}}</h4>
					</md-card-title-text>
				</md-card-title>
				<md-card-title-media>
					<div class="md-media-lg card-media"><img class="avatar" src="{{vote.user.username}}"/></div>
				</md-card-title-media>
			</md-card>

		</div>
	<div>


</div>