<div style="height:100vh">
	<h1>Dear {{legislator}}</h1>

	<p>I voted yes to pass {{bill}}. As your constituent, you knowing this information allows us to build a relationship and engage in policy-based dialog.</p>

	<p>Myself alongside with {{voteCount}} of your constituents with support of 20,723 of the general population agree the attached legislation is important.</p>

	<p>Please take the time to read.</p>

	<p>Please continue this conversation, I can be reached by mail at {{address}}, by email at {{email}}, and by phone at {{phone}}.</p>

	<p>Once again, {{voteCount}} of your constituents support this legislation, and {{constitutents}} persons have given me permission to speak for them on behalf of this cause.</p>

	<p>I appreciate an open dialog.</p>

	<p>{{member.firstName}} {{member.lastName}}</p>
</div>
<div style="height:100vh">
	{{bill.title}}
	{{vote.title}}
	<hr>
	{{bill.url}}

	Vote Info
	Member information
	Member vote
	Legislators vote
	Vote statistics – total votes, total constitutes vote, support %
	Legislative vote sway – how far representative voting has an effect
</div>