<div class="container">
		
	<form name="acountForm" id="accountForm" ng-submit="accountSave()" >
		<div layout="column" layout-align="center stretch">
			<md-input-container>
				<label class="modal-label">Email</label>
				<input ng-model="user.email" required name="firstName" type="text">
			</md-input-container>
			<md-input-container>
				<label class="modal-label">First Name</label>
				<input ng-model="user.firstName" required name="firstName" type="text">
			</md-input-container>
			<md-input-container>
				<label class="modal-label">Last Name</label>
				<input ng-model="user.lastName" required name="lastName" type="text">
			</md-input-container>
			<md-input-container>
				<label class="modal-label">Address</label>
				<input ng-model="user.address" required name="Address" type="text">
			</md-input-container>
		</div>
		<button type="submit" class="btn btn-default">Save</button>
	</form>

	<div class="spacing-25"></div>	

	<h3>Verification</h3>
	<md-divider></md-divider>

	<h4>1. Full Name</h4>
	<div>
		<md-input-container>
			<label class="modal-label">First Name</label>
			<input ng-model="user.firstName" required name="firstName" type="text">
		</md-input-container>
		<md-input-container>
			<label class="modal-label">Last Name</label>
			<input ng-model="user.lastName" required name="lastName" type="text">
		</md-input-container>
	</div>

	<h4>2. Social Media Accounts</h4>
	<div>
		<a ng-show="facebookPassport" href="{{user.socialAccounts.facebook.profileUrl}}">
			<img style="height:64px;" src="{{user.socialAccounts.facebook.profilePic}}">
			<span>{{user.socialAccounts.facebook.displayName}}</span>
		</a>
		<a ng-show="!facebookPassport" class="btn btn-default" href="/auth/facebook">connect facebook</a>
		<a ng-show="facebookPassport" class="btn btn-default" ng-click="removePassport('facebook')">disconnect facebook</a>

		<br><br>
		<a ng-show="twitterPassport" href="{{user.socialAccounts.twitter.profileUrl}}">
			<img style="height:64px;" src="{{user.socialAccounts.twitter.profilePic}}">
			<span>{{user.socialAccounts.twitter.handle}}</span>
		</a>
		<a ng-show="!twitterPassport" class="btn btn-default" href="/auth/twitter">connect twitter</a>
		<a ng-show="twitterPassport" class="btn btn-default" ng-click="removePassport('twitter')">disconnect twitter</a>

		<br><br>
		<a ng-show="googlePassport" href="{{user.socialAccounts.google.profileUrl}}">
			<img style="height:64px;" src="{{user.socialAccounts.google.profilePic}}">
			<span>{{user.socialAccounts.google.displayName}}</span>
		</a>
		<a ng-show="!googlePassport" class="btn btn-default" href="/auth/google">connect google</a>
		<a ng-show="googlePassport" class="btn btn-default" ng-click="removePassport('google')">disconnect google</a>
	</div>
	<br><br>

	<h4>3. Address</h4>
	<div>
		<md-input-container class="md-block">
			<input ng-model="user.address" required name="address" type="text">
			<button type="submit" class="btn btn-default">Save</button>
		</md-input-container>
	</div>
	<br>

	<h4>4. Identification</h4>
	<div>
		<p>by providing official identification, government officials have more of an incentive to respond and your voice carries more weight.</p>
		<div ngf-accept="'image/*'" ngf-drop ngf-select="uploadIdentification($file)" ng-model="file" class="drop-box" ngf-drag-over-class="dragover" ngf-allow-dir="true">
			<img ng-show="user.identificationUrl" src="{{user.identificationUrl}}">
		</div>
		<p ng-show="identificationLoading" style="text-align:center"><i class="fa fa-spin fa-spinner"></i>&nbsp;{{pp}}%</p>
		<div ng-show="identificationLoading" class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{identificationPercentage}}%;"></div>
		</div>
	</div>

	<!--
	<div class="spacing-25"></div>	

	<h3>Connected Accounts</h3>
	<md-divider></md-divider><br>
	<a href="{{user.socialAccounts.facebook.profileUrl}}">
		<img style="height:64px;" src="{{user.socialAccounts.facebook.profilePic}}">
		<span>{{user.socialAccounts.facebook.displayName}}</span>
	</a>
	<a ng-show="!facebookPassport" class="btn btn-default" href="/auth/facebook">connect facebook</a>
	<a ng-show="facebookPassport" class="btn btn-default" ng-click="removePassport('facebook')">disconnect facebook</a>

	<br><br>
	<a href="{{user.socialAccounts.twitter.profileUrl}}">
		<img style="height:64px;" src="{{user.socialAccounts.twitter.profilePic}}">
		<span>{{user.socialAccounts.twitter.handle}}</span>
	</a>
	<a ng-show="!twitterPassport" class="btn btn-default" href="/auth/twitter">connect twitter</a>
	<a ng-show="twitterPassport" class="btn btn-default" ng-click="removePassport('twitter')">disconnect twitter</a>

	<br><br>
	<a href="{{user.socialAccounts.google.profileUrl}}">
		<img style="height:64px;" src="{{user.socialAccounts.google.profilePic}}">
		<span>{{user.socialAccounts.google.displayName}}</span>
	</a>
	<a ng-show="!googlePassport" class="btn btn-default" href="/auth/google">connect google</a>
	<a ng-show="googlePassport" class="btn btn-default" ng-click="removePassport('google')">disconnect google</a>
	-->

</div>
