<div class="container">
    <md-card ng-repeat="vote in votes">
		<md-card-title>
			<md-card-title-text>
				<p style="white-space: nowrap">{{vote.voteString}} on behalf of {{constituents.length}} constituents</p>
				<a href="/vote/{{vote.vote.id}}">{{vote.vote.title}}</a>
				<a href="/bill/{{vote.bill.id}}/{{vote.bill.title}}">{{vote.bill.title}}</a>
			</md-card-title-text>
		</md-card-title>
	</md-card>
</div>
<div class="spacing-25"></div>
<div ng-show="votes.length != voteCount" >
	<md-divider></md-divider>
	<div class="spacing-25"></div>
	<div ng-click="loadMore()" class="container" style="text-align:center">
	    <button style="width:100%" class="btn btn-default">MORE <i class="fa fa-angle-down"></i></button>
	</div>
	<div class="spacing-25"></div>
</div>