
<h1>{{committee}}</h1>

<p>committee heirarchy</p>
<p>bylaws</p>
<p>submitted bills</p>
<p>polls</p>


<br><br><br>

<a>edit committee</a>

<br><br><br>

<a>delete committee</a>



submit bill
<br><br><br>
<div ng-show="currentUser">

  <div style="margin-left:20%;margin-right:20%;">
    <form class="committee-input" role="form" ng-submit="createBill(newBill)">
      <div class="form-group">
        <input type="text" placeholder= "bill title" ng-model="newBill.title" class="form-control">
        <input type="text" placeholder= "bill content" ng-model="newBill.bill_content" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>

<div class="bill-list-container">
  <br><br>
  <div class="bill-container" ng-repeat="bill in bills | orderBy:'-createdAt'">
    <h1 class="title"><a href="/committee/{{committee.url_title}}">{{bill.title}}</a></h1>
    <i ng-click="changeVote(vote, 'up')" class="fa fa-arrow-circle-up fa-2x" ng-class="{true:'up', false:''}[vote=='up']"></i>
    <br>
    <i ng-click="changeVote(vote, 'down')" class="fa fa-arrow-circle-down fa-2x"  ng-class="{true:'down', false:''}[vote=='down']"></i>
    <br>Vote: {{vote}}

  </div>
  <br><br>
</div>