#information{
	text-align:center;
	padding-top:50px;
	padding-bottom:50px;
}
#bills{
	text-align:center;
	background-color:rgb(235,235,235);
	padding-top:50px;
	padding-bottom:50px;
}
#committees{
	text-align:center;
	background-color:#888;
	padding-top:50px;
	padding-bottom:50px;
}
#register{
	text-align:center;
	background-color:#D8D8D8;
	padding-top:50px;
	padding-bottom:50px;
}
#members{
	text-align:center;
	background-color:#f1f0ed;
	padding-top:50px;
	padding-bottom:50px;
}