<div class="imageContainerSmall">
    <video class='flexible' autoplay="autoplay" muted="muted" preload="auto" loop="loop"><source src="https://s3-us-west-2.amazonaws.com/voetr/washington.mp4" type="video/mp4" playsinline></video>
    <div class="imageContainerSmallDiv container">  
        <h1 style="text-align:left">bills</h1>
    </div>
</div>
<div class="container">
    <div class="spacing-10"></div>
    <div class="dropdown sort-dropdown noselect">
        <a class="dropdown-toggle noselect" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <h4 class="noselect">{{sortText[sort]}}<span class="caret"></span></h4>
        </a>
        <ul class="dropdown-menu">
            <li><a class="sort-a" ng-click="selectSort('trendingScore DESC')"><h5>Trending</h5></a></li>
            <hr class="sort-hr">
            <li><a class="sort-a" ng-click="selectSort('createdAt DESC')"><h5>Most Recent</h5></a></li>
            <hr class="sort-hr">
            <li><a class="sort-a" ng-click="selectSort('voteCount DESC')"><h5>Most Voted</h5></a></li>
        </ul>
    </div>
    <div class="spacing-10"></div>
    <md-card ng-repeat="bill in bills">
        <md-card-title>
            <md-card-title-text>
            <h4>
                {{bill.voteCount}}
                <button ng-class="{'upVoted': vote.class=='upVote'}" class="btn btn-default upVote" ng-click="createVote(1, vote)"><i class="fa fa-caret-up"></i>  {{vote.plusCount}}</button>
                <button ng-class="{'downVoted': vote.class=='downVote'}" class="btn btn-default downVote" ng-click="createVote(-1, vote)"><i class="fa fa-caret-down"></i>  {{vote.minusCount}}</button>
                <a href="/bill/{{bill.id}}/{{bill.title.replace(' ','-')}}">{{bill.title}}</a>
            </h4>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
<div class="spacing-25"></div>
<md-divider></md-divider>
<div class="spacing-25"></div>
<div ng-click="loadMore()" class="container" style="text-align:center">
    <button style="width:100%" class="btn btn-default">MORE <i class="fa fa-angle-down"></i></button>
</div>
<div class="spacing-25"></div>
<div ng-include="'footer/index.tpl.html'"></div>