<!--if logged in-->
<div style="height:100px;"></div>
<div ng-show="currentUser">

  <div style="margin-left:20%;margin-right:20%;">
    <form class="committee-input" role="form" ng-submit="createCommittee(newCommittee)">
      <div class="form-group">
        <input type="text" placeholder= "committee title" ng-model="newCommittee.title" class="form-control" id="postTitle">
        <input type="text" placeholder= "committee url" ng-model="newCommittee.url_title" class="form-control" id="postTitle">
        <input type="text" placeholder= "committee parent" ng-model="newCommittee.parent" class="form-control" id="postTitle">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>
<!--/if logged in-->

<div class="committee-list-container">
  <br><br>
  <div class="committee-container" ng-repeat="committee in committees | orderBy:'-createdAt'">
    <h1 class="title"><a href="/committee/{{committee.url_title}}">{{committee.title}}</a></h1>

    <i ng-click="changeVote(vote, 'up')" class="fa fa-arrow-circle-up fa-2x" ng-class="{true:'up', false:''}[vote=='up']"></i>
    <br>
    <i ng-click="changeVote(vote, 'down')" class="fa fa-arrow-circle-down fa-2x"  ng-class="{true:'down', false:''}[vote=='down']"></i>
    <br>Vote: {{vote}}

  </div>
  <br><br>
</div>


<div style="height:100px;"></div>