<!--if logged in-->
<div ng-show="currentUser">
  <div style="margin-left:20%;margin-right:20%;margin-top:5%">
    <form class="committee-input" role="form" ng-submit="createCommittee(newCommittee)">
      <div class="form-group">
        <input type="text" placeholder= "committee title" ng-model="newCommittee.title" class="form-control" id="postTitle">
        <input type="text" placeholder= "committee url" ng-model="newCommittee.urlTitle" class="form-control" id="postTitle">
        <input type="text" placeholder= "committee parent" ng-model="newCommittee.parent" class="form-control" id="postTitle">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<!--/if logged in-->
<div class="committee-list-parent-container" id="committeeScrolling">
  <div class="committee-list-container" infinite-scroll='loadMore()' infinite-scroll-container="'#committeeScrolling'" infinite-scroll-distance='1' infinite-scroll-parent>
      <div class="committee-container" ng-repeat="committee in committees">
        <h4 class="committees title"><a href="/committee/{{committee.urlTitle}}">{{committee.title}}</a></h4>
      </div>
    </div>
  </div>
</div>


<div style="height:100px;"></div>