<div ui-view="bill">
	<div class="billContainer container" style="min-height:100vh">
		<h3>0 - {{bill.title}}</h3>
		<md-subheader ng-bind="bill.createdAt | date:'MM/dd/yyyy h:mma'" class="md-no-sticky"></md-subheader><br>
		<div ng-repeat="committee in bill.committees">
			<p><a href="committee/{{committee.urlTitle}}">{{committee.title}}</a></p>
		</div>
		<div class="spacing-10"></div>
		<div class="row">
			<button class="col-xs-6 btn btn-default" ng-click="createVote(1)"><i class="fa fa-caret-up"></i> {{vote.plusCount}}</button>
        	<button class="col-xs-6 btn btn-default" ng-click="createVote(-1)"><i class="fa fa-caret-down"></i> {{vote.minusCount}}</button>
    	</div>
    	<div class="spacing-10"></div>
		<uib-tabset>
			<uib-tab heading="Info" active="active">
				<div class="col-lg-4 col-sm-6">
					<div class="member-card">
						<div class="image" style="background-image: url('{{bill.user.coverUrl}}')">
							<img ng-src="{{bill.user.avatarUrl}}" err-src="/images/avatar.png">
						</div>
						<div class="info">
						    <h2 class="name"><a href="member/{{bill.user.username}}">{{bill.user.username}}</a></h2>
						    <p>{{bill.user.title}}</p>
							<p>{{bill.user.state}}</p>
						</div>
						<div class="social">
							<a ng-show="bill.user.socialAccounts.facebook.profileUrl" href="{{bill.user.socialAccounts.facebook.profileUrl}}"  target="_blank"><i class="fa fa-facebook"></i></a>
							<a ng-show="bill.user.socialAccounts.twitter.profileUrl" href="{{bill.user.socialAccounts.twitter.profileUrl}}"  target="_blank"><i class="fa fa-twitter"></i></a>
							<a ng-show="bill.user.socialAccounts.google.profileUrl" href="{{bill.user.socialAccounts.google.profileUrl}}"  target="_blank"><i class="fa fa-google"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<br>
					<p>{{bill.billContent.current_status_description}}</p>
					<p>{{bill.billContent.current_status_label}}</p>
					<div ng-show="bill.summary">
						<h4>Summary</h4>
						<p style="color:rgb(100,100,100)">{{bill.summary}}</p>
					</div>
					<div ng-bind-html="billContent"></div>
				</div>
		    </uib-tab>
		    <uib-tab heading="Activity">
		    	{{actions}}

		    	<div class="profilePost">
					<form role="form">
						<md-input-container class="md-block">
							<textarea ng-model="newPost.post" md-maxlength="150" rows="5" md-select-on-focus aria-label="new post"></textarea>
						</md-input-container>
						<button ng-click="createPost()" type="submit" class="btn btn-default">Submit</button>
					</form>
		        </div>
		        <md-card ng-repeat="post in posts">
					<md-card-title>
					<md-card-title-text>
						<a href="member/{{post.user.username}}">
							<img style="max-width:64px" ng-src="{{post.user.avatarUrl}}" class="md-card-image" alt="{{post.user.username}}">
							<p>{{post.user.username}}</p>
						</a>
						<p>{{post.post}}</p>
					</md-card-title-text>
					</md-card-title>
		        </md-card>


		    </uib-tab>
			<uib-tab heading="Discussion">
				<div class="profilePost">
					<form role="form">
						<md-input-container class="md-block">
							<textarea ng-model="newPost.post" md-maxlength="150" rows="5" md-select-on-focus aria-label="new post"></textarea>
							<button ng-click="createPost()" type="submit" class="btn btn-default">Submit</button>
						</md-input-container>
					</form>
		        </div>
		        <md-card ng-repeat="post in posts">
		          <md-card-title>
		            <md-card-title-text>
			            <a href="member/{{post.user.username}}">
			              <img style="max-width:64px" ng-src="{{post.user.avatarUrl}}" class="md-card-image" alt="{{post.user.username}}">
			              <h4>{{post.user.username}}</h4>
			            </a>
			            <p>{{post.post}}</p>
		            </md-card-title-text>
		          </md-card-title>
		        </md-card>
		    </uib-tab>
		    <uib-tab heading="Votes">
	    		<div ng-show="currentUser">
					<form role="form">
						<md-input-container class="md-block">
							<textarea ng-model="newVote.title" md-maxlength="150" rows="5" md-select-on-focus aria-label="newVote"></textarea>
							<button type="submit" ng-click="" class="btn btn-default">Submit</button>
						</md-input-container>
					</form>
				</div>
			    <div class="voteContainer" ng-show="votes.length!=0">
					<md-card ng-repeat="vote in bill.votes">
						<md-card-title>
							<h4>
				      			<button class="btn btn-default" ng-click="createVote(1, vote)"><i class="fa fa-caret-up"></i> {{vote.plusCount}}</button>
				      			<button class="btn btn-default" ng-click="createVote(-1, vote)"><i class="fa fa-caret-down"></i> {{vote.minusCount}}</button>
								<button class="btn btn-default" ng-click="createVote(0, vote)"><i class="fa fa-question"></i> {{vote.otherCount}}</button>
				      			({{vote.voteCount}})
								<a href="/vote/{{vote.id}}">{{vote.result}}: {{vote.title}}</a>
							</h4>
						</md-card-title>
					</md-card>
				</div>
		    </uib-tab>
			<uib-tab heading="Related">
				<div ng-repeat="bill in bill.relatedBills">
					<p><a href="bill/{{bill.urlTitle}}">{{bill.title}}</a></p>
				</div>
		    </uib-tab>
		</uib-tabset>
		<div class="spacing-100"></div>
	</div>
</div>
<div ng-include="'footer/index.tpl.html'"></div>