<div ui-view="member">
	<div class="content-profile-page">
	  <div class="profile-user-page card">
	    <div class="img-user-profile">
	      <div style="height:25em;width: 100%;overflow: hidden;">
	      	<img class="profile-bgHome" src="{{member.coverUrl}}" />
	      </div>
		  <!--
		  <ul class="data-user">
			<li><a><strong>{{committees.length}}</strong><span>Committees</span></a></li>
			<li><a><strong>{{constituents.length || 0}}</strong><span>Constituents</span></a></li>
			<li><a><strong>{{representatives.length || 0}}</strong><span>Representatives</span></a></li>
			<li><a><strong>{{voteCount}}</strong><span>Votes</span></a></li>
			<li><a><strong>{{followers.length}}</strong><span>Followers</span></a></li>
			<li><a><strong>{{following.length}}</strong><span>Following</span></a></li>
		  </ul>
		  -->
		  <!--
		  <div class="container">
			<ul class="nav nav-tabs" style="margin-left:11em">
				<li><a href="#">Activity</a></li>
				<li><a href="#">Committees</a></li>
				<li><a href="#">Representing</a></li>
				<li><a href="#">Followers</a></li>
				<li><a href="#">Following</a></li>
				<li><a href="#">Votes</a></li>
				<li><a href="#">Follow</a></li>
				<li ng-show="currentUser.id == member.id"><a href="#">Edit Profile</a></li>
		  	</ul>
		  </div>
		  -->
		  <uib-tabset class="container">
			<uib-tab heading="Activity" active="active" style="margin-left:11em">
			</uib-tab>
			<uib-tab heading="Committees">
			</uib-tab>
			<uib-tab heading="Constituents">
				<md-card ng-repeat="constituent in constituents">
					<md-card-title-text>
						<a href="/member/{{constituent.constituent.username}}/">{{constituent.constituent.username}}</a>
					</md-card-title-text>
				</md-card>
			</uib-tab>
			<uib-tab heading="Representatives">
				<md-card ng-repeat="representative in representatives">
					<md-card-title-text>
						<a href="/member/{{representative.representative.username}}/">{{representative.representative.username}}</a>
					</md-card-title-text>
				</md-card>
			</uib-tab>
			<uib-tab heading="Votes">
				<md-card ng-repeat="vote in votes">
					<md-card-title>
						<md-card-title-text>
							<p>{{vote.voteString}}</p> on behalf of {{constituents.length}} constituents about
							<a href="/vote/{{vote.vote.id}}">{{vote.vote.title}}</a> for 
							<a href="/bill/{{vote.bill.id}}/{{vote.bill.title}}">{{vote.bill.title}}</a>
						</md-card-title-text>
					</md-card-title>
				</md-card>
			</uib-tab>
			<uib-tab ng-click="goToAccount()" ng-show="currentUser.id == member.id" heading="Edit Profile">
			</uib-tab>
	      </uib-tabset>
		  <md-divider></md-divider>
	      <div class="container">
	      	<img class="avatar" src="{{member.avatarUrl}}"/>
	  	  </div>
	    </div>
	    <div class="user-profile-data container">
	      <h2>{{member.username}}</h2>
	      <h5 ng-show="member.title">{{member.title}}</h5>
	      <h5 ng-show="member.district">District {{member.district}}</h5>
	      <h5 ng-show="member.state">{{member.state}}</h5>

	      <a ng-show="member.socialAccounts.facebook.profileUrl" href="{{member.socialAccounts.facebook.profileUrl}}">facebook</a>
	      <a ng-show="member.socialAccounts.twitter.profileUrl" href="{{member.socialAccounts.twitter.profileUrl}}">twitter</a>
	      <a ng-show="member.socialAccounts.google.profileUrl" href="{{member.socialAccounts.google.profileUrl}}">google</a>

	      <!--<button class="btn btn-default">follow</button><br>-->
	      <br>
	      <div ng-show="currentUser.id != member.id">
	      	<button ng-show="isFollowing" class="btn btn-primary" ng-click="removeRepresentative()">remove as a representative</button>
	      	<br>
	      	<button ng-show="!isFollowing" class="btn btn-primary" ng-click="selectAsRepresentative()">select as a representative</button>
	  	  </div>
	      <br>
	 
	      <!--can have dif reps per committee-->
	      <!--represented by (list of reps with each committee)-->
	      <div ng-show="currentUser.id == member.id">
			<a href="/account"><button class="btn btn-default">settings</button></a>
		  </div>
		   <br>
	       <button class="btn btn-default">contact</button>
	       <br>
	       <br>
	    </div>
	  </div>
	</div>

	<uib-tabset class="container">
		<uib-tab heading="Activity" active="active">
			<div class="profilePost">
				<form role="form">
					<md-input-container class="md-block">
			          <textarea ng-model="newPost.post" md-maxlength="150" rows="5" md-select-on-focus aria-label="new post"></textarea>
					</md-input-container>
					<!--connect legislators-->
					<button ng-click="createPost()" type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>

			<md-card ng-repeat="post in posts">
				<md-card-title>
					<md-card-title-text>
					<a href="member/{{post.user.username}}">
						<img style="max-width:64px" ng-src="{{post.user.avatarUrl}}" class="md-card-image" alt="{{post.user.username}}">
						<p>{{post.user.username}}</p>
					</a>
					<p>{{post.post}}</p>
					</md-card-title-text>
				</md-card-title>
			</md-card>

			<md-card ng-repeat="vote in votes">
				<md-card-title>
					<md-card-title-text>
						<p>{{vote.voteString}}</p> on behalf of {{constituents.length}} constituents about
						<a href="/vote/{{vote.vote.id}}">{{vote.vote.title}}</a> for 
						<a href="/bill/{{vote.bill.id}}/{{vote.bill.title}}">{{vote.bill.title}}</a>
					</md-card-title-text>
				</md-card-title>
			</md-card>
			<br><br>	
			<div ng-show="votes.legnth > 0 && votes.legnth != voteCount" ng-click="loadMore()" style="text-align:center">
			  <button class="btn btn-default col-xs-10 col-xs-offset-1">LOAD MORE</button>
			</div>
		</uib-tab>
		<uib-tab heading="Committees">
		</uib-tab>
		<uib-tab heading="Constituents">
		 	<div class='md-padding' layout="row" layout-align="center" layout-wrap>
				<md-card flex="20" ng-repeat="constituent in constituents">
					<a href="/member/{{constituent.constituent.username}}">
		              <img ng-src="{{constituent.constituent.avatarUrl}}" class="md-card-image" alt="{{constituent.constituent.username}}">
		            </a>
					<md-card-title-text>
						<a href="/member/{{constituent.constituent.username}}"><h4>{{constituent.constituent.username}}</h4></a>
					</md-card-title-text>
				</md-card>
			</div>
		</uib-tab>
		<uib-tab heading="Representatives">
 			<div class='md-padding' layout="row" layout-align="center" layout-wrap>
				<md-card flex="20" ng-repeat="representative in representatives">
				    <a href="/member/{{representative.representative.username}}">
		              <img ng-src="{{representative.representative.avatarUrl}}" class="md-card-image" alt="{{representative.representative.username}}">
		            </a>
					<md-card-title-text>
						<a href="/member/{{representative.representative.username}}"><h4>{{representative.representative.username}}</h4></a>
					</md-card-title-text>
				</md-card>
			</div>
		</uib-tab>
		<!--<uib-tab heading="Followers">
		</uib-tab>
		<uib-tab heading="Following">
		</uib-tab>-->
		<uib-tab heading="Votes">
			<md-card ng-repeat="vote in votes">
				<md-card-title>
					<md-card-title-text>
						<p>{{vote.voteString}}</p> on behalf of {{constituents.length}} constituents about
						<a href="/vote/{{vote.vote.id}}">{{vote.vote.title}}</a> for 
						<a href="/bill/{{vote.bill.id}}/{{vote.bill.title}}">{{vote.bill.title}}</a>
					</md-card-title-text>
				</md-card-title>
			</md-card>
			<br><br>	
			<div ng-show="votes.legnth > 0 && votes.legnth != voteCount" ng-click="loadMore()" style="text-align:center">
			  <button class="btn btn-default col-xs-10 col-xs-offset-1">LOAD MORE</button>
			</div>
		</uib-tab>
		<!--<uib-tab heading="Follow">
		</uib-tab>-->
		<!--<uib-tab heading="Select as a representative">
		</uib-tab>-->
		<uib-tab ng-click="goToAccount()" ng-show="currentUser.id == member.id" heading="Edit Profile">
		</uib-tab>
	</uib-tabset>
	
	<div style="height:50px"></div>
	<div ng-include="'footer/index.tpl.html'"></div>

</div>
