
<div class="container" style="min-height:100vh">
    <div class="profilePost">
        <form role="form">
            <md-input-container class="md-block">
                <textarea ng-model="newPost.post" md-maxlength="150" rows="5" md-select-on-focus aria-label="new post"></textarea>
            </md-input-container>
            <button ng-click="createPost()" type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <md-card ng-repeat="post in posts">
        <md-card-title>
            <md-card-title-text>
                <a href="member/{{post.user.username}}">
                    <img style="max-width:64px" ng-src="{{post.user.avatarUrl}}" class="md-card-image" alt="{{post.user.username}}">
                    <p>{{post.user.username}}</p>
                </a>
                <p>{{post.post}}</p>
            </md-card-title-text>
        </md-card-title>
    </md-card>
    <div class="billContainer" ng-repeat="bill in bills | orderBy:'-voteCount'">
        <div class="bill-item">
            <div>
                <h4>
                    {{bill.voteCount}}
                    <button class="btn btn-default" ng-click="createVote(1, bill)"><i class="fa fa-caret-up"></i></button>
                    <button class="btn btn-default" ng-click="createVote(-1, bill)"><i class="fa fa-caret-down"></i></button>
                    <a href="bill/{{bill._id}}/{{bill.urlTitle}}">{{bill.title}}</a>
                </h4>
            </div>
            <div>
                <a href="bill/{{bill._id}}/{{bill.title}}">{{bill.comments.length}} comments, {{bill.votes.length}} votes</a>
            </div>
        </div>
        <md-divider></md-divider>
    </div>
</div>
