<div class="container">



    <div ng-show="!currentUser" class="profilePost">
        <form role="form">
            <md-input-container class="md-block">
                <textarea ng-model="newPost.post" rows="5" md-select-on-focus aria-label="new post"></textarea>
            </md-input-container>
            <button ng-click="createPost()" type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

    <md-card ng-show="currentUser">
        <div class="card-container">
            <div class="post-controller-container">
                <a href="/member/{{user.username}}">
                    <img class="post-img" ng-src="{{user.avatarUrl}}" class="md-card-image" alt="{{user.username}}">
                    <h4 class="post-name">{{user.username}}</h4>
                </a>
            </div>
            <div style="margin-left:61px;">
                <form role="form">
                    <md-input-container class="md-block">
                        <textarea ng-model="newPost.post" rows="5" md-select-on-focus aria-label="new post" placeholder="what's happening"></textarea>
                    </md-input-container>
                    <button ng-click="createPost()" type="submit" class="btn btn-default pull-right"><i class="fa fa-paper-plane"></i> Submit</button>
                </form>
            </div>
        </div>
    </md-card>


    <md-card ng-repeat="post in posts">
        <div class="card-container">

            <div>
                <a href="/member/{{post.user.username}}">
                    <img class="post-img" ng-src="{{post.user.avatarUrl}}" class="md-card-image" alt="{{post.user.username}}">
                    <h4 class="post-name">{{post.user.username}}</h4>
                </a>
                <div class="pull-right">
                    <span class="grey" am-time-ago="post.updatedAt"></span>
                    <div style="display:inline" uib-dropdown is-open="status.isopen">
                        <a uib-dropdown-toggle ng-disabled="disabled" href="#" ng-click=""><i class="fa fa-angle-down grey"></i></a> 
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href="#">Share</a></li>
                            <li role="menuitem"><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="post-container">
                <p>{{post.post}}</p>
            </div>

            <div class="post-action-container">
                <div class="pull-left">
                    <a href="#" ng-click="" class="grey"><i class="fa fa-angle-up"></i> 0 like </a> 
                    <a href="#" ng-click="" class="grey"><i class="fa fa-angle-down"></i> 0 dislike </a> 
                    <a href="#" class="grey" ng-click="reply(post)"><i class="fa fa-reply"></i> reply </a>
                </div>
                <div class="pull-right">
                    <a href="post/{{post.id}}"><i class="fa fa-link grey"></i></a>
                </div>
            </div>

             <!--
            <div class="profilePost">
                <form role="form">
                    <md-input-container class="md-block">
                        <textarea ng-model="newPost.post" rows="5" md-select-on-focus aria-label="new post" placeholder=""></textarea>
                    </md-input-container>
                </form>
            </div>
            -->

        </div>
    </md-card>
    <md-card ng-repeat="committeeBill in bills">
        <div class="card-container">
            <div>
                <h4>
                    <!--{{bill.voteCount}}
                    <button class="btn btn-default" ng-click="createVote(1, bill)"><i class="fa fa-caret-up"></i></button>
                    <button class="btn btn-default" ng-click="createVote(-1, bill)"><i class="fa fa-caret-down"></i></button>-->
                    <a href="/bill/{{committeeBill.bill.id}}/{{committeeBill.bill.title}}">{{committeeBill.bill.title}}</a>
                    <br>
                    <a href="committee/{{committeeBill.committee.urlTitle}}">{{committeeBill.committee.title}}</a>
                </h4>

                <div>
                    <div class="pull-left">
                        <a href="#" ng-click="" class="grey"><i class="fa fa-angle-up"></i> 0 like </a> 
                        <a href="#" ng-click="" class="grey"><i class="fa fa-angle-down"></i> 0 dislike </a> 
                        <a href="bill/{{committeeBill.bill.id}}/{{committeeBill.bill.title}}" class="grey" ng-click="reply(post)"><i class="fa fa-reply"></i> reply </a>
                    </div>
                    <div class="pull-right">
                        <a href="bill/{{committeeBill.bill.id}}/{{committeeBill.bill.title}}"><i class="fa fa-link grey"></i></a>
                    </div>
                </div>

            </div>
            <!--<div>
                <a href="/bill/{{bill._id}}/{{bill.title}}">{{bill.posts.length}} posts, {{bill.votes.length}} votes</a>
            </div>-->
        </div>
    </md-card>
</div>
