<div ng-show="currentUser" class="container">
    <button ng-click="toggleCreateBill()" class="btn btn-default">+ bill</button>
    <div style="margin-left:20%;margin-right:20%;" ng-show="createBillToggle">
        <form class="committee-input" role="form" ng-submit="createBill(newBill)">
            <div class="form-group">
                <input type="text" placeholder= "bill title" ng-model="newBill.title" class="form-control">
                <input type="text" placeholder= "bill content" ng-model="newBill.billContent" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<div class="container">
    <md-card ng-repeat="committeeBill in bills">
        <div class="card-container">
            <div>
                <h4>
                    <a href="bill/{{committeeBill.bill.id}}/{{committeeBill.bill.title}}">{{committeeBill.bill.title}}</a>
                    <br>
                    <a href="committee/{{committeeBill.committee.urlTitle}}">{{committeeBill.committee.title}}</a>
                </h4>
                <div>
                    <div class="pull-left">
                        <a href="#" ng-click="" class="grey"><i class="fa fa-angle-up"></i> 0 like </a> 
                        <a href="#" ng-click="" class="grey"><i class="fa fa-angle-down"></i> 0 dislike </a> 
                        <a href="bill/{{committeeBill.bill.id}}/{{committeeBill.bill.title}}" class="grey" ng-click="reply(post)"><i class="fa fa-reply"></i> reply </a>
                    </div>
                    <div class="pull-right">
                        <a href="bill/{{committeeBill.bill.id}}/{{committeeBill.bill.title}}"><i class="fa fa-link grey"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </md-card>
</div>
