<div ng-show="currentUser" class="container">
    <button ng-click="toggleCreateBill()" class="btn btn-default">+ bill</button>
    <div style="margin-left:20%;margin-right:20%;" ng-show="createBillToggle">
        <form class="committee-input" role="form" ng-submit="createBill(newBill)">
            <div class="form-group">
                <input type="text" placeholder= "bill title" ng-model="newBill.title" class="form-control">
                <input type="text" placeholder= "bill content" ng-model="newBill.billContent" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<div class="container">
    <md-card ng-repeat="committeeBill in bills">
        <div class="card-container">
            <div>
                <h4><i class="fa fa-file-text-o"></i><a href="bill/{{committeeBill.bill.id}}/{{committeeBill.bill.title}}"> {{committeeBill.bill.title}}</a></h4>
                <p><a href="committee/{{committeeBill.committee.urlTitle}}">{{committeeBill.committee.title}}</a></p>
                <span class="grey" am-time-ago="committeeBill.updatedAt"></span>
            </div>
        </div>
        <div class="" style="padding: 8px 16px 8px;background-color: #f9f9f9">
            <a style="padding:5px" href="#" ng-click="createReaction(post, 'like')" class="grey"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
            <a style="padding:5px" href="#" ng-click="createReaction(post, 'dislike')" class="grey"><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a> 
            <a style="padding:5px" href="bill/{{committeeBill.bill.id}}/{{committeeBill.bill.title}}" class="grey" ng-click="reply(post)"><i class="fa fa-comment-o"></i> comment </a>
            <a style="padding:5px" href="#" class="grey"><i class="fa fa-share"></i> share </a>
        </div>
        <div style="background-color: #f9f9f9;padding: 8px 16px 16px;" ng-show="fasle">
            <form role="form">
                <md-input-container class="md-block">
                    <textarea ng-model="post.newPost.post" rows="5" md-select-on-focus aria-label="new post" placeholder=""></textarea>
                </md-input-container>
                <button style="width:100%" ng-click="createPost(post)" type="submit" class="btn btn-default"><i class="fa fa-paper-plane"></i> Submit</button>
            </form>
        </div>
    </md-card>
</div>
