<div ng-show="currentUser" class="container">
    <button ng-click="toggleCreateBill()" class="btn btn-default">+ bill</button>
    <div style="margin-left:20%;margin-right:20%;" ng-show="createBillToggle">
        <form class="committee-input" role="form" ng-submit="createBill(newBill)">
            <div class="form-group">
                <input type="text" placeholder= "bill title" ng-model="newBill.title" class="form-control">
                <input type="text" placeholder= "bill content" ng-model="newBill.billContent" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<div class="container">
    <md-card ng-repeat="committeeBill in bills">
        <div style="padding:16px 16px 16px">
            <div>
                <h4>
                    <!--{{bill.voteCount}}
                    <button class="btn btn-default" ng-click="createVote(1, bill)"><i class="fa fa-caret-up"></i></button>
                    <button class="btn btn-default" ng-click="createVote(-1, bill)"><i class="fa fa-caret-down"></i></button>-->
                    <a href="/bill/{{committeeBill.bill.id}}/{{committeeBill.bill.title}}">{{committeeBill.bill.title}}</a>
                </h4>
            </div>
            <!--<div>
                <a href="/bill/{{bill._id}}/{{bill.title}}">{{bill.posts.length}} posts, {{bill.votes.length}} votes</a>
            </div>-->
        </div>
    </md-card>
</div>
