<div class="container" style="min-height:100vh">
    <div class="col-lg-4 col-sm-6" ng-repeat="member in members">
        <div class="member-card">
            <div class="image" style="background-image: url('{{member.user.coverUrl}}')">
                <img ng-src="{{member.user.avatarUrl}}" err-src="/images/avatar.png">
            </div>
            <div class="info">
                <h2 class="name"><a href="member/{{member.user.username}}">{{member.user.username}}</a></h2>
                <p>{{member.user.title}}</p>
                <p>{{member.user.state}}</p>
            </div>
            <div class="social">
                <a ng-show="member.user.socialAccounts.facebook.profileUrl" href="{{member.user.socialAccounts.facebook.profileUrl}}"  target="_blank"><i class="fa fa-facebook"></i></a>
                <a ng-show="member.user.socialAccounts.twitter.profileUrl" href="{{member.user.socialAccounts.twitter.profileUrl}}"  target="_blank"><i class="fa fa-twitter"></i></a>
                <a ng-show="member.user.socialAccounts.google.profileUrl" href="{{member.user.socialAccounts.google.profileUrl}}"  target="_blank"><i class="fa fa-google"></i></a>
            </div>
        </div>
    </div>
</div> 