<div id="wrapper">

  <!--if logged in-->
  <div ng-show="currentUser">
    <h1>welcome {{currentUser.username}}</h1>
    <div ng-repeat="vote in votes">
      {{vote.vote}} | <a href="/bill/{{vote.bill.id}}/{{vote.bill.title}}">{{vote.bill.title}}</a>
    </div>
  </div>
  <!--/if logged in-->

	<!--if not logged in-->
  <div ng-show="!currentUser">
    <div ng-include="'intro/index.tpl.html'"></div>
    <div id="about">
      <div id="information">
        <div class="container">
          <i style="font-size:256px;" class="fa fa-bullhorn"></i>
          <hr>
          <h4>be part of the movement</h4>
          <!--
          <p>seeing past partisan politics</p>
          <p>crowd-sourced government</p>
          -->
          <!--decision making influnce-->
          <!--<p>you have to choose,</p>-->
          <p>with direct input on policy your voice counts</p>
          <p>continual open ballot elections - represent others at anytime</p>

          <!--<p>as grandular as it goes, voice your opinion on what matters, law</p>-->
          <hr>
          <a href="/about" class="btn btn-default">learn more</a>
          <div style="height:100px;"></div>
          <div style="height:100px;"></div>
          <div style="height:100px;"></div>
        </div>
      </div>

      <div id="register">
        <div ng-include="'register/index.tpl.html'">
        </div>
      </div>


      <div id="bills">
        <div class="container">
          <h2><a href="/bills">bills</a></h2><hr>
          <h4>{{billCount}}</h4>

          <div class="container">
            <div class='md-padding' layout="row" layout-align="center" layout-wrap>
              <md-card flex="30" ng-repeat="bill in bills">
                <md-card-title>
                  <md-card-title-text>
                    <a href="/bill/{{bill.id}}/{{bill.title.replace(' ','-')}}">
                      <span class="">{{bill.title}}</span>
                    </a>
                  </md-card-title-text>
                </md-card-title>
                <!--
                <md-card-actions layout="row" layout-align="center">
                  <md-button>upvote</md-button>
                  <md-button>downvote</md-button>
                </md-card-actions>
                -->
              </md-card>
            </div>
          </div>

          <div ng-click="loadMoreBills()" style="text-align:center">
            <button class="btn btn-default">more</button>
          </div>
        </div>
      </div>

      <div id="committees">
        <div class="container">

          <h2><a href="/committees">committees</a></h2><hr>
          <h4>{{committeeCount}}</h4>

          <div class="container">
            <div class='md-padding' layout="row" layout-align="center" layout-wrap>
              <md-card flex="15" ng-repeat="committee in committees">
                <md-card-title>
                  <md-card-title-text>
                    <a href="/committee/{{committee.urlTitle}}">
                      <span class="">{{committee.title}}</span>
                    </a>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div>
          </div>

          <div ng-click="loadMoreCommittees()" style="text-align:center">
            <button class="btn btn-default">more</button>
          </div>

        </div>
      </div>

      <div id="members">
        <div class="container">
          <!--<p>local counties / search</p>-->
          <h2>members</h2><hr>
          <h4>{{userCount}}</h4>
          <div class='md-padding' layout="row" layout-align="center" layout-wrap>
            <md-card flex="20" ng-repeat="user in users">
              <a href="/member/{{user.username}}">
                <img ng-src="{{user.avatarUrl}}" class="md-card-image" alt="{{user.username}}">
              </a>
              <md-card-title>
                <md-card-title-text>
                  <a href="/member/{{user.username}}">
                    <span class="">{{user.username}}</span>
                  </a>
                </md-card-title-text>
              </md-card-title>
            </md-card>
          </div>

          <div ng-click="loadMoreMembers()" style="text-align:center">
            <button class="btn btn-default">more</button>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!--/if not logged in-->
  <div ng-include="'footer/index.tpl.html'"></div>
</div>