<!--if logged in-->
<div ng-show="currentUser">
  <div class="spacing-25"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="avatar" style="margin-top:0em" src="{{currentUser.avatarUrl}}"/>
        <h2><a href="/member/{{currentUser.username}}"><b>{{currentUser.username}}</a></b></h2>
        <div class="spacing-5"></div>
        <h5>Representatives - {{representatives.length}}</h5>
        <h5>Committees - {{committees.length}}</h5>
        <h5>Constituents - {{constituents.length}}</h5>
        <h5>Votes - {{votes.length}}</h5>
        <div class="spacing-25"></div>
        <p>activity</p>
        <p>reccomended votes</p>
        <p>message</p>
        <!--activity, recommended votes-->
      </div>
      <div class="col-md-8">
        <div class="alert alert-success verificationNotice spacing-25" ng-show="!currentUser.isVerified">
          <h2>Become Verified!</h2>
          <hr>
          <div class="spacing-15">
            <h4><b>Official ID</b></h4>
            <div class="spacing-10"></div>
            <p>By providing official identification, government officials have more of an incentive to respond and your voice carries more weight.</p>
            <div class="spacing-10"></div>
            <div ngf-accept="'image/*'" ngf-drop ngf-select="uploadIdentification($file)" ng-model="file" class="drop-box" ngf-drag-over-class="dragover" ngf-allow-dir="true">
              <button class="btn btn-default"><i class="fa fa-upload"></i> Upload</button>
              <img ng-show="user.identificationUrl" src="{{user.identificationUrl}}">
            </div>
            <div class="spacing-25"></div>
            <h4><b>Official Address</b></h4>
            <div class="spacing-10"></div>
            <md-input-container class="md-block">
              <textarea g-places-autocomplete ng-model="address" rows="5" md-select-on-focus aria-label="address" placeholder="+ Add Location"></textarea>
            </md-input-container>
            <div class="spacing-10"></div>
            <h4><b>Your Representatives</b></h4>
            <md-divider></md-divider>
            <div class="spacing-10"></div>
            <button ng-hide="officialRepresentatives.length > 0 || gettingRepresentatives" ng-click="getLatLng()" class="btn btn-default btn-lg"><i class="fa fa-map-marker"></i> Find Your Reps</button>
            <i ng-show="gettingRepresentatives" style="font-size:48px" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <!--<div ng-show="gettingRepresentatives" class="loader loaderSquare"></div>-->
            <div class='md-padding' layout="row" layout-align="center" layout-wrap>
              <md-card flex="20" ng-repeat="user in officialRepresentatives">
                <a href="/member/{{user.username}}">
                  <img ng-src="{{user.avatarUrl}}" class="md-card-image" alt="{{user.username}}">
                </a>
                <md-card-title class="text-center" style="padding:15px 0">
                  <md-card-title-text>
                    <a href="/member/{{user.username}}">{{user.username}}</a>
                    <!--<button class="btn btn-green">select as representative</button>-->
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div>
          </div>
        </div>

        <!--
        <h3>my constituents</h3>
        <md-divider></md-divider>
        <md-card ng-repeat="constituent in constituents">
          <md-card-title>
            <md-card-title-text>
              <h4><a href="/member/{{constituent.constituent.username}}">{{constituent.constituent.username}}</a></h4>
            </md-card-title-text>
          </md-card-title>
        </md-card>
        <br><br>

        <h3>my representatives</h3>
        <md-divider></md-divider>
        <md-card ng-repeat="representative in representatives">
          <md-card-title>
            <md-card-title-text>
              <h4><a href="/member/{{representative.representative.username}}">{{representative.representative.username}}</a></h4>
            </md-card-title-text>
          </md-card-title>
        </md-card>
        <br><br>

        <h3>my votes</h3>
        <md-divider></md-divider>
        <md-card ng-repeat="vote in userVotes">
          <md-card-title>
            <md-card-title-text>
              {{voteString}}<br><br>
              <a href="/vote/{{id}}">{{title}}</a><br>
              <a href="/bill/{{bill.id}}/{{bill.title}}">{{bill.title}}</a><br>
            </md-card-title-text>
          </md-card-title>
        </md-card>
        -->
      
        <div class="spacing-5"></div>
        <div class="profilePost">
          <form role="form">
            <md-input-container class="md-block">
              <textarea ng-model="newPost.post" rows="5" md-select-on-focus aria-label="new post" placeholder=""></textarea>
            </md-input-container>
            <!--connect legislators-->
          </form>
          <button ng-click="createPost()" type="submit" class="btn btn-default"><i class="fa fa-paper-plane"></i> Submit</button>
        </div>
        <div class="spacing-5"></div>

        <md-card ng-repeat="post in posts">
          <md-card-title>
            <md-card-title-text>
              <a href="member/{{post.user.username}}">
                <img style="max-width:64px" ng-src="{{post.user.avatarUrl}}" class="md-card-image" alt="{{post.user.username}}">
                {{post.user.username}}
              </a>
              <p>{{post.post}}</p>
            </md-card-title-text>
          </md-card-title>
        </md-card>

        <div class="spacing-15"></div>
        <h3>trending votes</h3>
        <md-divider></md-divider>
        <div class="spacing-5"></div>
        <md-card ng-repeat="vote in votes">
          <md-card-title>
            <md-card-title-text>
              <h4><a href="/vote/{{vote.id}}">{{vote.title}}</a></h4>
              <div class="margin-5"></div>
              <h4>
                <b>+ {{vote.plusCount-vote.minusCount}}</b>
                <button ng-class="{'upVoted': class=='upVote'}" class="btn btn-default upVote" ng-click="createVote(1, vote)">
                  <i class="fa fa-caret-up vBlue"></i> <b>{{vote.plusCount}}</b>
                </button>
                <button ng-class="{'downVoted': class=='downVote'}" class="btn btn-default downVote" ng-click="createVote(-1, vote)">
                  <i class="fa fa-caret-down red-color"></i>  <b>{{vote.minusCount}}</b>
                </button>
                <br><br>
                <span class="subtitle">({{vote.voteCount}} total votes)</span>
              </h4>
              <div class="margin-10"></div>
              <a href="/bill/{{bill.id}}/{{bill.title}}">{{vote.bill.title}}</a>
              <br><br>
            </md-card-title-text>
          </md-card-title>
        </md-card>
        <br><br>
        <div ng-click="loadMoreVotes()" style="text-align:center">
          <button class="btn btn-default col-xs-10 col-xs-offset-1">more</button>
        </div>
        <div class="spacing-50"></div>


      </div>
    </div>
  </div>
</div>
<!--/if logged in-->

<!--if not logged in-->
<div ng-show="!currentUser">
  <!--<div ng-include="'intro/index.tpl.html'"></div>-->
  <div class="imageContainer">
    <video class='flexible' autoplay="autoplay" muted="muted" preload="auto" loop="loop"><source src="https://s3-us-west-2.amazonaws.com/voetr/washington.mp4" type="video/mp4"></video>
    <div class="imageContainerDiv container">  
      <h1>build empowerment, change consensus</h1>
    </div>
  </div>
  <div id="about">
    <div id="information">
      <div class="container">
        <i style="font-size:256px;" class="fa fa-bullhorn"></i>
        <md-divider></md-divider>
        <h4>be part of the movement</h4>
        <h4>direct your impact though input on policy</h4>
        <p>directly impact the creation of policy</p>
        <!--<p>contact your reps and tell them your opinion about legislation</p>-->
        <p>creating a coalition of representation</p>

        <!--<p>directly impact the political landscape, with input on policy your voice counts</p>-->
        <!--<p>with direct input on policy your voice matters</p>-->
        <!--generate a network of reprensentatives for the people-->
        <!--rep others to their reps-->
        <!--<p>with continual open ballot elections - represent others at anytime</p>-->
        <!--organizing a coalition of reps for reps-->

        <md-divider></md-divider>
        <br><br>
        <a href="/about" class="btn btn-default">learn more</a>
        <div class="spacing-200"></div>
      </div>
    </div>

    <div id="register">
      <div ng-include="'register/index.tpl.html'">
      </div>
    </div>

    <div id="bills">
      <div class="container">
        <h2><a href="/bills">{{billCount}} bills</a></h2>
        <md-divider></md-divider><br>

        <div class="container">
          <div class='md-padding'>
            <md-card ng-repeat="bill in bills">
              <md-card-title>
                <md-card-title-text>
                  <h4>
                    <a href="/bill/{{bill.id}}/{{bill.title.replace(' ','-')}}">{{bill.title}}</a>
                  </h4>
                </md-card-title-text>
                 <button ng-class="{'upVoted': class=='upVote'}" class="btn btn-default upVote" ng-click="createVote(1, vote)"><i class="fa fa-caret-up"></i>  {{plusCount}}</button>
                <button ng-class="{'downVoted': class=='downVote'}" class="btn btn-default downVote" ng-click="createVote(-1, vote)"><i class="fa fa-caret-down"></i>  {{minusCount}}</button>
              </md-card-title>
            </md-card>
          </div>
        </div>

        <div ng-click="loadMoreBills()" style="text-align:center">
          <button class="btn btn-default col-xs-10 col-xs-offset-1">more</button>
        </div>
      </div>
    </div>

    <div id="committees">
      <div class="container">
        <h2><a href="/committees">{{committeeCount}} committees</a></h2>
        <md-divider></md-divider><br>

        <div class="container">
          <div class='md-padding' layout="row" layout-align="center" layout-wrap>
            <md-card flex="20" ng-repeat="committee in committees">
              <md-card-title>
                <md-card-title-text>
                  <a href="/committee/{{committee.urlTitle}}">
                    <span class="">{{committee.title}}</span>
                  </a>
                </md-card-title-text>
              </md-card-title>
            </md-card>
          </div>
        </div>

        <div ng-click="loadMoreCommittees()" style="text-align:center">
          <button class="btn btn-default col-xs-10 col-xs-offset-1">more</button>
        </div>

      </div>
    </div>

    <div id="members">
      <div class="container">
        <h2>{{userCount}} members</h2>
        <md-divider></md-divider><br>
        <button ng-show="!gettingRepresentatives" ng-click="getLatLng()" class="btn btn-default">find representatives</button><br>
        <i ng-show="gettingRepresentatives" style="font-size:48px" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>

        <div class='md-padding' layout="row" layout-align="center" layout-wrap>
          <md-card flex="20" ng-repeat="user in officialRepresentatives">
            <a href="/member/{{user.username}}">
              <img ng-src="{{user.avatarUrl}}" class="md-card-image" alt="{{user.username}}">
            </a>
            <md-card-title>
              <md-card-title-text>
                <a href="/member/{{user.username}}">
                  <span class="">{{user.username}}</span>
                </a>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </div>

        <!--
        <h3>message your reps</h3>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <i class="fa fa-print" aria-hidden="true"></i>
        <i class="fa fa-files-o" aria-hidden="true"></i>
        <md-input-container class="md-block">
          <textarea ng-model="message" md-maxlength="150" rows="5" md-select-on-focus aria-label="new post"></textarea>
        </md-input-container>
        -->

        <!--member card css?-->
        <!--
        <div class='md-padding' layout="row" layout-align="center" layout-wrap>
          <md-card class="col-lg-3 col-sm-6" ng-repeat="user in users">
            <a href="/member/{{user.username}}">
              <img ng-src="{{user.avatarUrl}}" err-src="/images/avatar.png" class="md-card-image" alt="{{user.username}}">
            </a>
            <md-card-title>
              <md-card-title-text>
                <a href="/member/{{user.username}}">
                  <span class="">{{user.username}}</span><br>
                </a>
                <span class="">{{user.title}}</span>
                <span class="">{{user.state}}</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </div>
        -->

        <div class="col-lg-4 col-sm-6" ng-repeat="user in users">
          <div style="margin:10px; box-shadow: 2px 2px 10px #999;">
            <div class="image" style="background-image: url('{{user.coverUrl}}')">
              <img alt="" style="position:absolute;left:0;right0;margin:0 auto;margin-top:4em" src="{{user.avatarUrl}}" err-src="/images/avatar.png">
            </div>
            <div class="info">
              <h2 class="name"><a href="member/{{user.username}}">{{user.username}}</a></h2>
              <h3 class="position"><a href="member/{{user.username}}">{{user.title}}</a></h3>
              <p>{{user.state}}</p>
            </div>
            <div class="social">
              <a ng-show="user.socialAccounts.facebook.profileUrl" href="{{user.socialAccounts.facebook.profileUrl}}"  target="_blank"><i class="fa fa-facebook"></i></a>
              <a ng-show="user.socialAccounts.twitter.profileUrl" href="{{user.socialAccounts.twitter.profileUrl}}"  target="_blank"><i class="fa fa-twitter"></i></a>
              <a ng-show="user.socialAccounts.google.profileUrl" href="{{user.socialAccounts.google.profileUrl}}"  target="_blank"><i class="fa fa-google"></i></a>
            </div>
          </div>
        </div>

        <div ng-click="loadMoreMembers()" style="text-align:center">
          <button class="btn btn-default col-xs-10 col-xs-offset-1">more</button>
        </div>
      </div>

    </div>
  </div>
</div>
<!--/if not logged in-->
<div ng-include="'footer/index.tpl.html'"></div>
