<div class="imageContainer">
    <video class='flexible' autoplay="autoplay" muted="muted" preload="auto" loop="loop"><source src="https://s3-us-west-2.amazonaws.com/voetr/washington.mp4" type="video/mp4" playsinline></video>
    <div class="imageContainerDiv container">  
        <h1 style="">build empowerment, change consensus</h1>
    </div>
</div>
<div id="about">
    <div id="information">
        <div class="container">
            <div class="col-md-12">
                <div class="spacing-100"></div>
            </div>
            <div class="col-md-6">
                <i style="font-size:256px;" class="fa fa-bullhorn"></i>
            </div>
            <div class="col-md-6">
                <h1>be part of the movement</h1>
                <h4>direct your impact though input on policy</h4>
                <h4>create constituent coalitions</h4>
                <br><br>
                <a style="width:100%" href="/about" class="btn btn-default">learn more</a>
            </div>

            <div class="col-md-12">
                <div class="spacing-100"></div>
            </div>


            <div class="col-md-4" style="text-align:center">
                <i class="fa fa-group" style="font-size:100px;"></i>
                <h5>blockchain, seeing past partisan politics</h5>
            </div>
            <div class="col-md-4" style="text-align:center">
                <i class="fa fa-bullhorn" style="font-size:100px"></i>
                <h5>directly impact the creation of policy, reduce polarization, see past partisan politics</h5>
            </div>
            <div class="col-md-4" style="text-align:center">
                <i class="fa fa-file-text-o" style="font-size:100px"></i>
                <h5>creating a coalition of representation, create coalitions of representation</h5>
            </div>

            <div class="col-md-12">
                <div class="spacing-100"></div>
            </div>


        </div>
    </div>

    <div id="register">
        <div ng-include="'register/index.tpl.html'"></div>
    </div>

    <div id="bills">
        <div class="container">
            <h2><a href="/bills">{{billCount}} bills</a></h2>
            <br><br>
            <md-card ng-repeat="bill in bills">
                <md-card-title>
                    <md-card-title-text>
                    <h4>
                        <!--<button ng-class="{'upVoted': class=='upVote'}" class="btn btn-default upVote" ng-click="createVote(1, vote)"><i class="fa fa-caret-up"></i>  {{plusCount}}</button>
                        <button ng-class="{'downVoted': class=='downVote'}" class="btn btn-default downVote" ng-click="createVote(-1, vote)"><i class="fa fa-caret-down"></i>  {{minusCount}}</button>-->
                        <a href="/bill/{{bill.id}}/{{bill.title.replace(' ','-')}}"><i class="fa fa-file-text-o"></i> {{bill.title}}</a>
                    </h4>
                    </md-card-title-text>
                </md-card-title>

                <div class="" style="padding: 8px 16px 8px;background-color: #f9f9f9">
                    <a style="padding:5px" href="#" class="grey"><i class="fa fa-angle-up"></i> {{post.plusCount}} like </a> 
                    <a style="padding:5px" href="#" class="grey"><i class="fa fa-angle-down"></i> {{post.minusCount}} dislike </a> 
                    <a style="padding:5px" href="#" class="grey"><i class="fa fa-comment-o"></i> comment </a>
                    <a style="padding:5px" href="#" class="grey"><i class="fa fa-share"></i> share </a>
                    <!--<a style="" class="pull-right" href="/bill/{{bill.id}}/{{bill.title.replace(' ','-')}}"><i class="fa fa-link grey"></i></a>-->
                </div>


            </md-card> 
            <div ng-click="loadMoreBills()" style="text-align:center">
                <button style="margin-top:25px;" class="btn btn-default col-xs-12">MORE <i class="fa fa-angle-down"></i></button>
            </div>
        </div>
    </div>

    <div id="committees">
        <div class="container">
            <h2><a href="/committees">{{committeeCount}} committees</a></h2>
            <br><br>
            <md-card ng-repeat="committee in committees" class="col-sm-12">
                <md-card-title>
                    <md-card-title-text>
                        <h4><a href="/committee/{{committee.urlTitle}}"><i class="fa fa-users" aria-hidden="true"></i> <span class="">{{committee.title}}</span></a></h4>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <div ng-click="loadMoreCommittees()" style="text-align:center">
                <button style="margin-top:25px;" class="btn btn-default col-xs-12">MORE <i class="fa fa-angle-down"></i></button>
            </div>
        </div>
    </div>

    <div id="members">
        <div class="container">
            <h2><a href="/members">{{userCount}} members</a></h2>
            <br><br>
            <!--<button ng-show="!gettingRepresentatives" ng-click="getLatLng()" class="btn btn-default">find representatives</button><br>-->
            <div class="col-lg-4 col-sm-6" ng-repeat="user in officialRepresentatives">
                <div class="member-card">
                    <div class="image" style="background-image: url('{{user.coverUrl}}')">
                        <a href="member/{{user.username}}"><img ng-src="{{user.avatarUrl}}" err-src="/images/avatar.png"></a>
                    </div>
                    <div class="info">
                        <h4 class="name"><a href="member/{{user.username}}">{{user.username}}</a></h4>
                        <h5 class="position">{{user.title || 'voetr member'}}</h5>
                        <p>{{user.state}}</p>
                    </div>
                    <div class="social">
                        <a ng-show="user.socialAccounts.facebook.profileUrl" href="{{user.socialAccounts.facebook.profileUrl}}"  target="_blank"><i class="fa fa-facebook"></i></a>
                        <a ng-show="user.socialAccounts.twitter.profileUrl" href="{{user.socialAccounts.twitter.profileUrl}}"  target="_blank"><i class="fa fa-twitter"></i></a>
                        <a ng-show="user.socialAccounts.google.profileUrl" href="{{user.socialAccounts.google.profileUrl}}"  target="_blank"><i class="fa fa-google"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6" ng-repeat="user in users">
                <div class="member-card">
                    <div class="image" style="background-image: url('{{user.coverUrl}}')">
                        <a href="member/{{user.username}}"><img ng-src="{{user.avatarUrl}}" err-src="/images/avatar.png"></a>
                    </div>
                    <div class="info">
                        <h4 class="name"><a href="member/{{user.username}}">{{user.username}}</a></h4>
                        <h5 class="position">{{user.title}}</h5>
                        <p>{{user.state}}</p>
                    </div>
                    <div class="social">
                        <a ng-show="user.socialAccounts.facebook.profileUrl" href="{{user.socialAccounts.facebook.profileUrl}}"  target="_blank"><i class="fa fa-facebook facebook-icon"></i></a>
                        <a ng-show="user.socialAccounts.twitter.profileUrl" href="{{user.socialAccounts.twitter.profileUrl}}"  target="_blank"><i class="fa fa-twitter twitter-icon"></i></a>
                        <a ng-show="user.socialAccounts.google.profileUrl" href="{{user.socialAccounts.google.profileUrl}}"  target="_blank"><i class="fa fa-google google-icon"></i></a>
                    </div>
                </div>
            </div>
            <div ng-click="loadMoreMembers()" style="text-align:center">
                <button style="margin-top:25px;" class="btn btn-default col-xs-12">MORE <i class="fa fa-angle-down"></i></button>
            </div>
        </div>
    </div>
</div>
<div ng-include="'footer/index.tpl.html'"></div>
