<!--we need some hover css here... we have on click editing-->
<div style="height:25em;width: 100%;overflow: hidden;" ngf-accept="'image/*'" ngf-drop ngf-select="uploadCover($file)" ng-model="file" class="drop-box" ngf-drag-over-class="dragover" ngf-allow-dir="true" href="#">
	<img style="width:100%;min-height:35em;" src="{{user.coverUrl}}">
</div>
<div class="container">
	<!--we need some hover css here... we have on click editing-->
	<a ngf-accept="'image/*'" ngf-drop ngf-select="uploadAvatar($file)" ng-model="file" class="drop-box" ngf-drag-over-class="dragover" ngf-allow-dir="true" href="#"><img class="avatar" src="{{user.avatarUrl}}"/></a>
	<h3><a href="/member/{{currentUser.username}}">{{user.username}}</a></h3>
	<md-divider></md-divider>
	<br><br>

	<form name="acountForm" id="accountForm" ng-submit="accountSave()" >
		<div layout="column" layout-align="center stretch">
			<md-input-container>
				<label class="modal-label">Username</label>
				<input ng-model="user.username" required name="firstName" type="text">
			</md-input-container>
			<md-input-container>
				<label class="modal-label">Email</label>
				<input ng-model="user.email" required name="firstName" type="text">
			</md-input-container>
			<md-input-container>
				<label class="modal-label">First Name</label>
				<input ng-model="user.firstName" required name="firstName" type="text">
			</md-input-container>
			<md-input-container>
				<label class="modal-label">Last Name</label>
				<input ng-model="user.lastName" required name="lastName" type="text">
			</md-input-container>
			<!--<md-input-container>
				<label class="modal-label">Address</label>
				<input ng-model="user.address" required name="Address" type="text">
			</md-input-container>-->
		</div>
		<button type="submit" class="btn btn-primary">Save</button>
	</form>

	<br><br>
	<md-divider></md-divider>

	<!--
	<h3>Update Avatar</h3>
	<div ngf-accept="'image/*'" ngf-drop ngf-select="uploadAvatar($file)" ng-model="file" class="drop-box" ngf-drag-over-class="dragover" ngf-allow-dir="true">
		<div>Drag photos or click here to upload.</div>
	</div>
	<p ng-show="avatarLoading" style="text-align:center"><i class="fa fa-spin fa-spinner"></i>&nbsp;{{pp}}%</p>
	<div ng-show="avatarLoading" class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{avatarPercentage}}%;"></div>
	</div>

	<h3>Update Cover</h3>
	<div ngf-accept="'image/*'" ngf-drop ngf-select="uploadCover($file)" ng-model="file" class="drop-box" ngf-drag-over-class="dragover" ngf-allow-dir="true">
		<div>Drag photos or click here to upload.</div>
	</div>
	<p ng-show="coverLoading" style="text-align:center"><i class="fa fa-spin fa-spinner"></i>&nbsp;{{pp}}%</p>
	<div ng-show="coverLoading" class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{coverPercentage}}%;"></div>
	</div>
	-->

	<h3>Verified Account</h3>
	<md-divider></md-divider>
	<h4>government identification</h4>
	<p>by providing official identification, government officials have more of an incentive to respond and your voice carries more weight.</p>
	<div ngf-accept="'image/*'" ngf-drop ngf-select="uploadIdentification($file)" ng-model="file" class="drop-box" ngf-drag-over-class="dragover" ngf-allow-dir="true">
		<img ng-show="user.identificationUrl" src="{{user.identificationUrl}}">
	</div>
	<p ng-show="identificationLoading" style="text-align:center"><i class="fa fa-spin fa-spinner"></i>&nbsp;{{pp}}%</p>
	<div ng-show="identificationLoading" class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{identificationPercentage}}%;"></div>
	</div>
	<br>
	<md-input-container>
		<label class="modal-label">Address</label>
		<input ng-model="user.address" required name="address" type="text">
	</md-input-container>
	<!--<p>ssn</p>-->

	<h3>Connected Accounts</h3>
	<md-divider></md-divider><br>
	<a href="{{user.socialAccounts.facebook.profileUrl}}">
		<img style="height:64px;" src="{{user.socialAccounts.facebook.profilePic}}">
		<span>{{user.socialAccounts.facebook.displayName}}</span>
	</a>
	<a ng-show="!facebookPassport" class="btn btn-primary" href="/auth/facebook">connect facebook</a>
	<a ng-show="facebookPassport" class="btn btn-primary" ng-click="removePassport('facebook')">disconnect facebook</a>

	<br><br>
	<a ng-show="!twitterPassport"class="btn btn-primary" href="/auth/twitter">connect twitter</a>
	<a href="{{user.socialAccounts.twitter.profileUrl}}">
		<img style="height:64px;" src="{{user.socialAccounts.twitter.profilePic}}">
		<span>{{user.socialAccounts.twitter.handle}}</span>
	</a>
	<a ng-show="!twitterPassport"class="btn btn-primary" href="/auth/twitter">connect twitter</a>
	<a ng-show="twitterPassport"class="btn btn-primary" ng-click="removePassport('twitter')">disconnect twitter</a>

	<br><br>
	<!--
	<a href="{{user.socialAccounts.twitter.profileUrl}}">
		<img src="{{user.socialAccounts.twitter.profilePic}}">
		<span>{{user.socialAccounts.google.handle}}</span>
	</a>
	-->
	<a ng-show="!googlePassport"class="btn btn-primary" href="/auth/google">connect google</a>
	<a ng-show="googlePassport"class="btn btn-primary" ng-click="removePassport('google')">disconnect google</a>

	<!--<a class="btn btn-primary" href="/auth/btc">connect btc wallet</a>-->
	<br><br>


	<h3>Settings</h3>
	<md-divider></md-divider><br>
	<h4>email settings</h4>
	<a ng-show="localPassport.length==0" class="btn btn-primary" href="/auth/facebook">connect email</a>
	<a ng-show="localPassport.length>0" class="btn btn-primary">reset password</a>

	<h4>contact settings</h4>
	<p>send email</p>
	<p>send fax</p>
	<p>send letter</p>
	<!--<p>all activity, per vote.. on creation of bill, on profile comment</p>-->

	<div style="height:100px;"></div>

</div>

<div ng-include="'footer/index.tpl.html'"></div>

