<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <br>
    <li><a style="font-weight:bold" href="/">{{committee.title}}</a></li>
    <hr>
    <li><a href="committee/{{committee.urlTitle}}">bylaws</a></li>
    <li><a href="committee/{{committee.urlTitle}}/committees">committees</a></li>
    <li><a href="committee/{{committee.urlTitle}}/bills">bills</a></li>
    <li><a href="committee/{{committee.urlTitle}}/discussion">discussion</a></li>
    <li><a href="committee/{{committee.urlTitle}}">elections</a></li>
    <li><a href="committee/{{committee.urlTitle}}">polls</a></li>
    <li><a href="committee/{{committee.urlTitle}}/members">members</a></li>
  </ul>
</div>
<div id="main-container">
  <div class="committee-title">
    <h1>{{committee.title}}</h1>
  </div>
  <div ng-show="currentUser">
    <br>
    <button class="btn btn-primary">edit committee</button>
    <br>
    <br>
    <button class="btn btn-primary">+ bill</button>
    <br>
    <div style="margin-left:20%;margin-right:20%;">
      <form class="committee-input" role="form" ng-submit="createBill(newBill)">
        <div class="form-group">
          <input type="text" placeholder= "bill title" ng-model="newBill.title" class="form-control">
          <input type="text" placeholder= "bill content" ng-model="newBill.billContent" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <div class="bill-list-container">
    <div class="bill-container" ng-repeat="bill in bills | orderBy:'-voteCount'">
      <div class="bill-item">
        <div>
          <h4>
            {{bill.voteCount}}
            <button class="btn btn-default" ng-click="createVote(1, bill)"><i class="fa fa-caret-up"></i></button>
            <button class="btn btn-default" ng-click="createVote(-1, bill)"><i class="fa fa-caret-down"></i></button>
            <a href="/bill/{{bill.id}}/{{bill.title}}">{{bill.title}}</a>
          </h4>
        </div>
        <div>
          <a href="/bill/{{bill.id}}/{{bill.title}}">comment</a>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
