<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <br>
    <li><a style="font-weight:bold" href="committee/{{committee.urlTitle}}">{{committee.title}}</a></li>
    <hr>
    <li><a href="committee/{{committee.urlTitle}}/bills">bills</a></li>
    <li><a href="committee/{{committee.urlTitle}}/discussion">discussion</a></li>
    <li><a href="committee/{{committee.urlTitle}}/members">members</a></li>
    <li style="color: #fff;background: #4b5359"><a style="color: #2AB996" href="committee/{{committee.urlTitle}}/votes">votes</a></li>
  </ul>
</div>
<div id="main-container">
  <div class="committee-title">
    <h1>{{committee.title}}</h1>
  </div>
  <md-divider ></md-divider>
  <h2>votes</h2>
  <md-divider ></md-divider>
  <div class="vote-list-container">
    <div class="vote-container" ng-repeat="vote in votes">
      <div class="vote-item">

        <div>
          <br>
          <h4>
            {{vote.voteCount}}
            <button class="btn btn-default" ng-click="createVote(1, bill)"><i class="fa fa-caret-up"></i></button>
            <button class="btn btn-default" ng-click="createVote(-1, bill)"><i class="fa fa-caret-down"></i></button>
            <a href="/vote/{{vote.id}}">{{vote.title}}</a>
          </h4>
          <h5>{{vote.bill.title}}</h5>
        </div>
        <div>
          <a href="/vote/{{vote.id}}">comment</a>
        </div>
        <md-divider></md-divider>

      </div>
    </div>
  </div>
</div>
