#information{
	padding-top:50px;
	padding-bottom:50px;
}
#register{
	background-color:#f1f0ed;
	padding-top:50px;
	padding-bottom:50px;
}
#bills{
	background-color:#EBEBEB;
	padding-top:50px;
	padding-bottom:50px;
}
#committees{
	background-color:#fff;
	padding-top:50px;
	padding-bottom:50px;
}
#members{
	background-color:#f1f0ed;
	padding-top:50px;
	padding-bottom:50px;
}