@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400|Lato:400,300|Coda|Open+Sans);

.avatar {
  margin: 0 auto;
  background: #fff;
  width: 15em;
  height: 15em;
  padding: 0.25em;
  border-radius: .4em;
  margin-top: -13em;//-8.4em;
  box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
}